@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    body {
        @apply font-sans antialiased;
    }
}

@layer components {
    .btn-primary {
        @apply bg-teal-800 text-white px-6 py-2.5 rounded-full hover:bg-teal-900 transition;
    }

    .btn-secondary {
        @apply bg-white border-2 border-teal-700 text-teal-700 px-6 py-2.5 rounded-full hover:bg-teal-50 transition;
    }
}